/*ULTILITIES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*Register-form-tyle*/
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/register-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo img{
    width: 80px;
    padding-bottom: 15px;
}

.register-form{
    background: transparent;
    width: 350px;
    height: 550px;
    perspective: 1000px;
}

.inside-form{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.form-front, .form-back{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: 
    linear-gradient(rgba(38,38,38,0.9), rgba(38,38,38,0.9));
    padding: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.form-back{
    transform: rotateY(180deg);
}

.register-form H2{
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.reg-input{
    text-align: center;
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 6px 0;
    padding: 0 10px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
}

::placeholder{
    color: #fff;
    font-size: 15px;
}

button{
    align-items: center !important;
    width: 100%;
    background: transparent;
    border: 1px solid #fff !important;
    margin: 35px 0 10px !important;
    height: 32px !important;
    font-size: 15px !important;
    border-radius: 20px !important;
    padding: 0 10px !important;
    box-sizing: border-box;
    outline: none;
    color: #fff !important;
    cursor: pointer;
}

.submit-btn{
    position: relative;
}

.submit-btn::after{
    content: "\27a4";
    color: #333;
    line-height: 32px;
    font-size: 15px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}

span{
    font-size: 13px;
    margin-left: 10px;
}

@media ( max-width: 1024px ){
    .logo img{
        width: 60px;
        padding-bottom: 12px;
    }
    .register-form{
        background: transparent;
        width: 250px;
        height: 450px;
        perspective: 1000px;
    }
    .register-form H2{
        font-weight: normal;
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
    button{
        align-items: center !important;
        width: 100%;
        background: transparent;
        border: 1px solid #fff !important;
        margin: 22px 0 7px !important;
        height: 22px !important;
        font-size: 13px !important;
        border-radius: 20px !important;
        padding: 0 10px !important;
        box-sizing: border-box;
        outline: none;
        color: #fff !important;
        cursor: pointer;
    }
    .reg-input{
        text-align: center;
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        margin: 8px 0;
        padding: 0 8px;
        border-radius: 20px;
        box-sizing: border-box;
        outline: none;
    }
    .reg-input::placeholder{
        font-size: 13px;
    }
    .submit-btn::after{
        content: "\27a4";
        color: #333;
        line-height: 21px;
        font-size: 11px;
        width: 21px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        right: -1px;
        top: -1px;
    }
}

    
@media ( max-width: 767px ){
    .logo img{
        width: 45px;
        padding-bottom: 9px;
    }
    .register-form{
        background: transparent;
        width: 200px;
        height: 400px;
        perspective: 1000px;
    }
    .register-form H2{
        font-weight: normal;
        text-align: center;
        margin-bottom: 7px;
        font-size: 17px;
    }
    button{
        align-items: center !important;
        width: 100%;
        background: transparent;
        border: 1px solid #fff !important;
        margin: 17px 0 7px !important;
        height: 20px !important;
        border-radius: 20px !important;
        padding: 0 6px !important;
        font-size: 11px !important;
        box-sizing: border-box;
        outline: none;
        color: #fff !important;
        cursor: pointer;
    }
    .reg-input{
        text-align: center;
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        margin: 7px 0;
        padding: 0 10px;
        border-radius: 20px;
        box-sizing: border-box;
        outline: none;
    }
    .reg-input::placeholder{
        font-size: 11px;
    }
    .submit-btn::after{
        content: "\27a4";
        color: #333;
        line-height: 19px;
        font-size: 12px;
        width: 19px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        right: -1px;
        top: -1px;
    }
}